Control\ Patients/SC1/Results_SimpeAnkle_GM/MuscleAnalysis/*
Control\ Patients/SC1/Results_SimpeAnkle_SOL/MuscleAnalysis/*
Control\ Patients/SC1/Results_SimpeAnkle_TA1/MuscleAnalysis/*
Control\ Patients/SC1/Results_SimpeAnkle_TA2/MuscleAnalysis/*

Control\ Patients/SC2/Results_SimpeAnkle_GM/MuscleAnalysis/*
Control\ Patients/SC2/Results_SimpeAnkle_SOL/MuscleAnalysis/*
Control\ Patients/SC2/Results_SimpeAnkle_TA1/MuscleAnalysis/*
Control\ Patients/SC2/Results_SimpeAnkle_TA2/MuscleAnalysis/*

Control\ Patients/SC3/Results_SimpeAnkle_GM/MuscleAnalysis/*
Control\ Patients/SC3/Results_SimpeAnkle_SOL/MuscleAnalysis/*
Control\ Patients/SC3/Results_SimpeAnkle_TA1/MuscleAnalysis/*
Control\ Patients/SC3/Results_SimpeAnkle_TA2/MuscleAnalysis/*

Control\ Patients/SC4/Results_SimpeAnkle_GM/MuscleAnalysis/*
Control\ Patients/SC4/Results_SimpeAnkle_SOL/MuscleAnalysis/*
Control\ Patients/SC4/Results_SimpeAnkle_TA1/MuscleAnalysis/*
Control\ Patients/SC4/Results_SimpeAnkle_TA2/MuscleAnalysis/*

Control\ Patients/SC5/Results_SimpeAnkle_GM/MuscleAnalysis/*
Control\ Patients/SC5/Results_SimpeAnkle_SOL/MuscleAnalysis/*
Control\ Patients/SC5/Results_SimpeAnkle_TA1/MuscleAnalysis/*
Control\ Patients/SC5/Results_SimpeAnkle_TA2/MuscleAnalysis/*

Control\ Patients/SC6/Results_SimpeAnkle_GM/MuscleAnalysis/*
Control\ Patients/SC6/Results_SimpeAnkle_SOL/MuscleAnalysis/*
Control\ Patients/SC6/Results_SimpeAnkle_TA1/MuscleAnalysis/*
Control\ Patients/SC6/Results_SimpeAnkle_TA2/MuscleAnalysis/*

Control\ Patients/SC7/Results_SimpeAnkle_GM/MuscleAnalysis/*
Control\ Patients/SC7/Results_SimpeAnkle_SOL/MuscleAnalysis/*
Control\ Patients/SC7/Results_SimpeAnkle_TA1/MuscleAnalysis/*
Control\ Patients/SC7/Results_SimpeAnkle_TA2/MuscleAnalysis/*

Control\ Patients/SC8/Results_SimpeAnkle_GM/MuscleAnalysis/*
Control\ Patients/SC8/Results_SimpeAnkle_SOL/MuscleAnalysis/*
Control\ Patients/SC8/Results_SimpeAnkle_TA1/MuscleAnalysis/*
Control\ Patients/SC8/Results_SimpeAnkle_TA2/MuscleAnalysis/*


Stroke\ Patients/SP2/Results_SimpeAnkle_GM/MuscleAnalysis/*
Stroke\ Patients/SP2/Results_SimpeAnkle_SOL/MuscleAnalysis/*
Stroke\ Patients/SP2/Results_SimpeAnkle_TA1/MuscleAnalysis/*
Stroke\ Patients/SP2/Results_SimpeAnkle_TA2/MuscleAnalysis/*

Stroke\ Patients/SP3/Results_SimpeAnkle_GM/MuscleAnalysis/*
Stroke\ Patients/SP3/Results_SimpeAnkle_TA/MuscleAnalysis/*

Stroke\ Patients/SP4/Results_SimpeAnkle_GM/MuscleAnalysis/*
Stroke\ Patients/SP4/Results_SimpeAnkle_SOL/MuscleAnalysis/*
Stroke\ Patients/SP4/Results_SimpeAnkle_TA1/MuscleAnalysis/*
Stroke\ Patients/SP4/Results_SimpeAnkle_TA2/MuscleAnalysis/*

Stroke\ Patients/SP5/Results_SimpeAnkle_GM/MuscleAnalysis/*
Stroke\ Patients/SP5/Results_SimpeAnkle_SOL/MuscleAnalysis/*
Stroke\ Patients/SP5/Results_SimpeAnkle_TA1/MuscleAnalysis/*
Stroke\ Patients/SP5/Results_SimpeAnkle_TA2/MuscleAnalysis/*

Stroke\ Patients/SP7/Results_SimpeAnkle_GM/MuscleAnalysis/*
Stroke\ Patients/SP7/Results_SimpeAnkle_SOL/MuscleAnalysis/*
Stroke\ Patients/SP7/Results_SimpeAnkle_TA1/MuscleAnalysis/*
Stroke\ Patients/SP7/Results_SimpeAnkle_TA2/MuscleAnalysis/*

Stroke\ Patients/SP8/Results_SimpeAnkle_GM/MuscleAnalysis/*
Stroke\ Patients/SP8/Results_SimpeAnkle_SOL/MuscleAnalysis/*
Stroke\ Patients/SP8/Results_SimpeAnkle_TA1/MuscleAnalysis/*
Stroke\ Patients/SP8/Results_SimpeAnkle_TA2/MuscleAnalysis/*

Stroke\ Patients/SP9/Results_SimpeAnkle_GM/MuscleAnalysis/*
Stroke\ Patients/SP9/Results_SimpeAnkle_SOL/MuscleAnalysis/*
Stroke\ Patients/SP9/Results_SimpeAnkle_TA1/MuscleAnalysis/*
Stroke\ Patients/SP9/Results_SimpeAnkle_TA2/MuscleAnalysis/*

Stroke\ Patients/SP11/Results_SimpeAnkle_GM/MuscleAnalysis/*
Stroke\ Patients/SP11/Results_SimpeAnkle_SOL/MuscleAnalysis/*
Stroke\ Patients/SP11/Results_SimpeAnkle_TA1/MuscleAnalysis/*
Stroke\ Patients/SP11/Results_SimpeAnkle_TA2/MuscleAnalysis/*